# Philadelphia: a city about to boom?

**Michael Uftring**   
**Indiana University**   
**I590 Data Visualization**   
**Fall, 2017**

what is the purpose of this notebook?

The Change in Unemployment Rate over time with Unemployment Rate trend visualization creates a basic framework for assessment and comparison of cities. This approach will be used to establish the “Gold Standard” cities: those with the best numbers and trends, and perhaps sprinkle in less tangible qualities like general perception of being a “booming city.”

Establish the *Gold Standard* cities:
- Change in Unemployment Rate over time with Unemployment Rate trend visualization
- Industry and Occupation trends in these cities: what’s growing? what’s shrinking?

ToDo:

- load Top 100 cities
- extract list of cities
- generate BLS request for measureList = ["unemployment-rate"]

In [1]:
import requests
import json
import prettytable

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import bls

%matplotlib inline

In [2]:
bls.init()

In [3]:
cities = pd.read_csv("us-cities-top100-cleaner.csv")

In [4]:
cities.head()

,Unnamed: 0,rank,city,statename,population_2016,population_2010,latitide,longitude,state
0,0,1,New York,New York,"8,537,673","8,175,133",﻿40.6635,-73.9387,NY
1,1,2,Los Angeles,California,"3,976,322","3,792,621",﻿34.0194,-118.4108,CA
2,2,3,Chicago,Illinois,"2,704,958","2,695,598",﻿41.8376,-87.6818,IL
3,3,4,Houston,Texas,"2,303,482","2,100,263",﻿29.7866,-95.3909,TX
4,4,5,Phoenix,Arizona,"1,615,017","1,445,632",﻿33.5722,-112.0901,AZ

In [125]:
cities

,Unnamed: 0,rank,city,statename,population_2016,population_2010,latitide,longitude,state
0,0,1,New York,New York,"8,537,673","8,175,133",﻿40.6635,-73.9387,NY
1,1,2,Los Angeles,California,"3,976,322","3,792,621",﻿34.0194,-118.4108,CA
2,2,3,Chicago,Illinois,"2,704,958","2,695,598",﻿41.8376,-87.6818,IL
3,3,4,Houston,Texas,"2,303,482","2,100,263",﻿29.7866,-95.3909,TX
4,4,5,Phoenix,Arizona,"1,615,017","1,445,632",﻿33.5722,-112.0901,AZ
5,5,6,Philadelphia,Pennsylvania,"1,567,872","1,526,006",﻿40.0094,-75.1333,PA
6,6,7,San Antonio,Texas,"1,492,510","1,327,407",﻿29.4724,-98.5251,TX
7,7,8,San Diego,California,"1,406,630","1,307,402",﻿32.8153,-117.1350,CA
8,8,9,Dallas,Texas,"1,317,929","1,197,816",﻿32.7933,-96.7665,TX
9,9,10,San Jose,California,"1,025,350","945,942",﻿37.2967,-121.8189,CA
10,10,11,Austin,Texas,"947,890","790,390",﻿30.3039,-97.7544,TX
11,11,12,Jacksonville,Florida,"880,619","821,784",﻿30.3369,-81.6616,FL
12,12,13,San Francisco,California,"870,887","805,235",﻿37.7272,-123.0322,CA
13,13,14,Columbus,Ohio,"860,090","787,033",﻿39.9852,-82.9848,OH
14,14,15,Indianapolis,Indiana,"855,164","820,445",﻿39.7767,-86.1459,IN
15,15,16,Fort Worth,Texas,"854,113","741,206",﻿32.7815,-97.3467,TX
16,16,17,Charlotte,North Carolina,"842,051","731,424",﻿35.2078,-80.8310,NC
17,17,18,Seattle,Washington,"704,352","608,660",﻿47.6205,-122.3509,WA
18,18,19,Denver,Colorado,"693,060","600,158",﻿39.7619,-104.8811,CO
19,19,20,El Paso,Texas,"683,080","649,121",﻿31.8484,-106.4270,TX
20,20,21,Washington,District of Columbia,"681,170","601,723",﻿38.9041,-77.0172,DC
21,21,22,Boston,Massachusetts,"673,184","617,594",﻿42.3320,-71.0202,MA
22,22,23,Detroit,Michigan,"672,795","713,777",﻿42.3830,-83.1022,MI
23,23,24,Nashville,Tennessee,"660,388","601,222",﻿36.1718,-86.7850,TN
24,24,25,Memphis,Tennessee,"652,717","646,889",﻿35.1028,-89.9774,TN
25,25,26,Portland,Oregon,"639,863","583,776",﻿45.5370,-122.6500,OR
26,26,27,Oklahoma City,Oklahoma,"638,367","579,999",﻿35.4671,-97.5137,OK
27,27,28,Las Vegas,Nevada,"632,912","583,756",﻿36.2292,-115.2601,NV
28,28,29,Louisville,Kentucky,"616,261","597,337",﻿38.1654,-85.6474,KY
29,29,30,Baltimore,Maryland,"614,664","620,961",﻿39.3000,-76.6105,MD
...,...,...,...,...,...,...,...,...,...
70,70,71,Lincoln,Nebraska,"280,364","258,379",﻿40.8105,-96.6803,NE
71,71,72,Toledo,Ohio,"278,508","287,208",﻿41.6641,-83.5819,OH
72,72,73,Orlando,Florida,"277,173","238,300",﻿28.4166,-81.2736,FL
73,73,74,Chula Vista,California,"267,172","243,916",﻿32.6277,-117.0152,CA
74,74,75,Irvine,California,"266,122","212,375",﻿33.6784,-117.7713,CA
75,75,76,Fort Wayne,Indiana,"264,488","253,691",﻿41.0882,-85.1439,IN
76,76,77,Jersey City,New Jersey,"264,152","247,597",﻿40.7114,-74.0648,NJ
77,77,78,Durham,North Carolina,"263,016","228,330",﻿35.9811,-78.9029,NC
78,78,79,St. Petersburg,Florida,"260,999","244,769",﻿27.7620,-82.6441,FL
79,79,80,Laredo,Texas,"257,156","236,091",﻿27.5604,-99.4892,TX
80,80,81,Buffalo,New York,"256,902","261,310",﻿42.8925,-78.8597,NY
81,81,82,Madison,Wisconsin,"252,551","233,209",﻿43.0878,-89.4299,WI
82,82,83,Lubbock,Texas,"252,506","229,573",﻿33.5656,-101.8867,TX
83,83,84,Chandler,Arizona,"247,477","236,123",﻿33.2829,-111.8549,AZ
84,84,85,Scottsdale,Arizona,"246,645","217,385",﻿33.6843,-111.8611,AZ
85,85,86,Glendale,Arizona,"245,895","226,721",﻿33.5331,-112.1899,AZ
86,86,87,Reno,Nevada,"245,255","225,221",﻿39.5491,-119.8499,NV
87,87,88,Norfolk,Virginia,"245,115","242,803",﻿36.9230,-76.2446,VA
88,88,89,Winston-Salem,North Carolina,"242,203","229,617",﻿36.1027,-80.2610,NC
89,89,90,North Las Vegas,Nevada,"238,702","216,961",﻿36.2857,-115.0939,NV
90,90,91,Irving,Texas,"238,289","216,290",﻿32.8577,-96.9700,TX
91,91,92,Chesapeake,Virginia,"237,940","222,209",﻿36.6794,-76.3018,VA
92,92,93,Gilbert,Arizona,"237,133","208,453",﻿33.3103,-111.7431,AZ
93,93,94,Hialeah,Florida,"236,387","224,669",﻿25.8699,-80.3029,FL
94,94,95,Garland,Texas,"234,943","226,876",﻿32.9098,-96.6303,TX
95,95,96,Fremont,California,"233,136","214,089",﻿37.4945,-121.9412,CA
96,96,97,Baton Rouge,Louisiana,"227,715","229,493",﻿30.4422,-91.1309,LA
97,97,98,Richmond,Virginia,"223,170","204,214",﻿37.5314,-77.4760,VA
98,98,99,Boise,Idaho,"223,154","205,671",﻿43.6002,-116.2317,ID
99,99,100,San Bernardino,California,"216,239","209,924",﻿34.1416,-117.2936,CA

In [155]:
cityName = 'St. Louis'
bls.findCityTownCode(cityName)

['CT2757220000000', 'CT2965000000000']

In [5]:
cityList = cities.city.values

In [74]:
startYear = 2008
endYear = 2017

dataSet = "LA"

seasonalAdjustment = "no"
if seasonalAdjustment == "yes":
    saCode = "S"
else:
    saCode = "U"

availableMeasures = ["labor-force", "employment", "unemployment", "unemployment-rate"]
measureList = ["unemployment-rate"]

colNames = ["seriesid","year","month","period","date","state","city","measure","value","footnotes"]

build and send requests, 10 cities at a time...

In [69]:
def buildSeriesIDs(cityList):
    seriesIDs = []
    for city in cityList:
        cityCode = bls.findCityTownCode(city)
        if len(cityCode) > 0:
            for measure in measureList:
                measureCode = bls.findMeasureCode(measure)
                seriesID = "{}{}{}{}".format(dataSet, saCode, cityCode[0], measureCode)
                #print("city: {} code: {} measure: {} code: {} seriesID: {}".format(city, cityCode, measure, measureCode, seriesID))
                seriesIDs.append(seriesID)
        else:
            print("Did not find City Code for {}".format(city))
    return seriesIDs

In [72]:
headers = {'Content-type': 'application/json'}
responses = []

count = 0
requestNumber = 0
segmentSize = 10
cityList2 = []
for city in cityList:
    count += 1
    cityList2.append(city)
    if count % segmentSize == 0:
        requestNumber += 1
        # construct Series IDs
        seriesIDs = buildSeriesIDs(cityList2)
        # build the request
        request = json.dumps({"seriesid": seriesIDs,"startyear":"{}".format(startYear), "endyear":"{}".format(endYear)})    
        # get the data using API
        print("Sending request {} ...".format(requestNumber))
        p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=request, headers=headers)
        # extract and save the response
        json_data = json.loads(p.text)
        responses.append(json_data)        
        cityList2 = []

Sending request 1 ...
Sending request 2 ...
Sending request 3 ...
Sending request 4 ...
Sending request 5 ...
Sending request 6 ...
Sending request 7 ...
Sending request 8 ...
Sending request 9 ...
Sending request 10 ...

In [73]:
len(responses)

10

In [75]:
data = []
for json_data in responses:
    for series in json_data['Results']['series']:
        x=prettytable.PrettyTable(colNames)
        seriesId = series['seriesID']
        for item in series['data']:
            year = item['year']
            period = item['period']
            month = bls.code2month(period)
            date = bls.dateFrom(year, month)
            state = bls.decodeState(seriesId)
            city = bls.decodeCityTown(seriesId)
            measure = bls.decodeMeasure(seriesId)
            value = item['value']
            footnotes=""
            for footnote in item['footnotes']:
                if footnote:
                    footnotes = footnotes + footnote['text'] + ','
            if 'M01' <= period <= 'M12':
                row = [seriesId,year,month,period,date,state,city,measure,value,footnotes[0:-1]]
                x.add_row(row)
                data.append(row)

In [76]:
len(data)

11677

In [77]:
df = pd.DataFrame(data, columns=colNames)

In [78]:
len(df.city.unique())

100

In [136]:
# national rates are from here:
#   https://data.bls.gov/timeseries/LNS14000000

# these are the July values for each year
nationalRates = {
    "2007": 4.7,
    "2008": 5.8,
    "2009": 9.5,
    "2010": 9.4,
    "2011": 9.0,
    "2012": 8.2,
    "2013": 7.3,
    "2014": 6.2,
    "2015": 5.2,
    "2016": 4.9,
    "2017": 4.3
}

In [138]:
year = "2010"
nationalRates[year]

9.4

In [139]:
series = []
for city in df.city.unique():
    cd = df[(df.city==city) & (df.month=='July')].sort_values('year').copy()
    cd.drop(['seriesid','month','period','date','footnotes'], axis=1, inplace=True)
    beginYear = cd.head(1).year.values[0]
    beginValue = float(cd.head(1).value.values[0])
    beginCTN = beginValue - float(nationalRates[beginYear])
    endYear = cd.tail(1).year.values[0]
    endValue = float(cd.tail(1).value.values[0])
    endCTN = endValue - float(nationalRates[endYear])
    delta = endValue - beginValue
    series.append([city,beginYear,beginValue, beginCTN,endYear,endValue,endCTN,delta])

In [140]:
len(series)

100

In [141]:
series

[['New York city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  5.0,
  0.7000000000000002,
  -0.7000000000000002],
 ['Philadelphia County/city',
  '2008',
  7.4,
  1.6000000000000005,
  '2017',
  6.9,
  2.6000000000000005,
  -0.5],
 ['Phoenix city',
  '2008',
  6.7,
  0.9000000000000004,
  '2017',
  4.7,
  0.40000000000000036,
  -2.0],
 ['San Jose city',
  '2008',
  7.1,
  1.2999999999999998,
  '2017',
  4.2,
  -0.09999999999999964,
  -2.8999999999999995],
 ['Houston city',
  '2008',
  5.0,
  -0.7999999999999998,
  '2017',
  4.7,
  0.40000000000000036,
  -0.2999999999999998],
 ['San Diego city',
  '2008',
  6.4,
  0.6000000000000005,
  '2017',
  4.4,
  0.10000000000000053,
  -2.0],
 ['San Antonio city',
  '2008',
  4.9,
  -0.8999999999999995,
  '2017',
  3.7,
  -0.5999999999999996,
  -1.2000000000000002],
 ['Dallas city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  3.9,
  -0.3999999999999999,
  -1.8000000000000003],
 ['Chicago Heights city', '2008', 10.5, 4.7, '2017', 7.3, 3.0, -3.2],
 ['Los Angeles city', '2008', 9.1, 3.3, '2017', 5.6, 1.2999999999999998, -3.5],
 ['Indianapolis (consolidated) city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  3.5,
  -0.7999999999999998,
  -2.2],
 ['Seattle city',
  '2008',
  4.0,
  -1.7999999999999998,
  '2017',
  3.3,
  -1.0,
  -0.7000000000000002],
 ['Fort Worth city',
  '2008',
  5.4,
  -0.39999999999999947,
  '2017',
  4.0,
  -0.2999999999999998,
  -1.4000000000000004],
 ['San Francisco County/city',
  '2008',
  5.6,
  -0.20000000000000018,
  '2017',
  3.4,
  -0.8999999999999999,
  -2.1999999999999997],
 ['Jacksonville city',
  '2008',
  7.6,
  1.7999999999999998,
  '2017',
  6.4,
  2.1000000000000005,
  -1.1999999999999993],
 ['Austin city',
  '2008',
  4.4,
  -1.3999999999999995,
  '2017',
  3.0,
  -1.2999999999999998,
  -1.4000000000000004],
 ['El Paso de Robles (Paso Robles) city',
  '2008',
  7.6,
  1.7999999999999998,
  '2017',
  4.7,
  0.40000000000000036,
  -2.8999999999999995],
 ['Charlotte city',
  '2008',
  5.6,
  -0.20000000000000018,
  '2017',
  4.3,
  0.0,
  -1.2999999999999998],
 ['Denver County/city',
  '2008',
  5.4,
  -0.39999999999999947,
  '2017',
  2.4,
  -1.9,
  -3.0000000000000004],
 ['Columbus city',
  '2008',
  6.2,
  0.40000000000000036,
  '2017',
  4.4,
  0.10000000000000053,
  -1.7999999999999998],
 ['Detroit city', '2008', 17.2, 11.399999999999999, '2017', 9.6, 5.3, -7.6],
 ['Las Vegas city',
  '2008',
  7.0,
  1.2000000000000002,
  '2017',
  5.6,
  1.2999999999999998,
  -1.4000000000000004],
 ['Oklahoma City city',
  '2008',
  3.8,
  -2.0,
  '2017',
  4.1,
  -0.20000000000000018,
  0.2999999999999998],
 ['Portland city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  3.8,
  -0.5,
  -1.9000000000000004],
 ['Washington township (Macomb County)',
  '2010',
  12.3,
  2.9000000000000004,
  '2017',
  3.5,
  -0.7999999999999998,
  -8.8],
 ['Nashville-Davidson (consolidated) city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  3.0,
  -1.2999999999999998,
  -2.7],
 ['Louisville-Jefferson County (consolidated) city',
  '2008',
  6.2,
  0.40000000000000036,
  '2017',
  5.7,
  1.4000000000000004,
  -0.5],
 ['Boston city',
  '2008',
  5.8,
  0.0,
  '2017',
  4.2,
  -0.09999999999999964,
  -1.5999999999999996],
 ['Baltimore city',
  '2008',
  6.9,
  1.1000000000000005,
  '2017',
  6.1,
  1.7999999999999998,
  -0.8000000000000007],
 ['Memphis city',
  '2008',
  8.1,
  2.3,
  '2017',
  5.2,
  0.9000000000000004,
  -2.8999999999999995],
 ['Kansas City city',
  '2008',
  7.9,
  2.1000000000000005,
  '2017',
  4.7,
  0.40000000000000036,
  -3.2],
 ['Atlanta city',
  '2008',
  7.6,
  1.7999999999999998,
  '2017',
  5.6,
  1.2999999999999998,
  -2.0],
 ['Fresno city',
  '2008',
  9.4,
  3.6000000000000005,
  '2017',
  9.4,
  5.1000000000000005,
  0.0],
 ['Sacramento city',
  '2008',
  8.8,
  3.000000000000001,
  '2017',
  5.6,
  1.2999999999999998,
  -3.200000000000001],
 ['Mesa city',
  '2008',
  5.3,
  -0.5,
  '2017',
  4.5,
  0.20000000000000018,
  -0.7999999999999998],
 ['Long Beach city',
  '2008',
  4.7,
  -1.0999999999999996,
  '2017',
  3.6,
  -0.6999999999999997,
  -1.1],
 ['Albuquerque city',
  '2008',
  4.5,
  -1.2999999999999998,
  '2017',
  6.2,
  1.9000000000000004,
  1.7000000000000002],
 ['Tucson city',
  '2008',
  6.9,
  1.1000000000000005,
  '2017',
  5.2,
  0.9000000000000004,
  -1.7000000000000002],
 ['Milwaukee city',
  '2008',
  7.0,
  1.2000000000000002,
  '2017',
  5.1,
  0.7999999999999998,
  -1.9000000000000004],
 ['Colorado Springs city',
  '2008',
  5.7,
  -0.09999999999999964,
  '2017',
  2.9,
  -1.4,
  -2.8000000000000003],
 ['Tulsa city',
  '2008',
  3.6,
  -2.1999999999999997,
  '2017',
  4.7,
  0.40000000000000036,
  1.1],
 ['Arlington town',
  '2008',
  4.2,
  -1.5999999999999996,
  '2017',
  3.0,
  -1.2999999999999998,
  -1.2000000000000002],
 ['Omaha city',
  '2008',
  3.7,
  -2.0999999999999996,
  '2017',
  3.3,
  -1.0,
  -0.40000000000000036],
 ['Virginia Beach city',
  '2008',
  3.7,
  -2.0999999999999996,
  '2017',
  3.7,
  -0.5999999999999996,
  0.0],
 ['New Orleans city',
  '2008',
  6.5,
  0.7000000000000002,
  '2017',
  5.8,
  1.5,
  -0.7000000000000002],
 ['Wichita city',
  '2008',
  5.2,
  -0.5999999999999996,
  '2017',
  5.0,
  0.7000000000000002,
  -0.20000000000000018],
 ['Miami city',
  '2008',
  5.8,
  0.0,
  '2017',
  4.6,
  0.2999999999999998,
  -1.2000000000000002],
 ['Raleigh city',
  '2008',
  4.7,
  -1.0999999999999996,
  '2017',
  4.1,
  -0.20000000000000018,
  -0.6000000000000005],
 ['Oakland Park city',
  '2008',
  4.9,
  -0.8999999999999995,
  '2017',
  4.0,
  -0.2999999999999998,
  -0.9000000000000004],
 ['Minneapolis city',
  '2008',
  5.6,
  -0.20000000000000018,
  '2017',
  3.5,
  -0.7999999999999998,
  -2.0999999999999996],
 ['Honolulu County/city',
  '2008',
  4.1,
  -1.7000000000000002,
  '2017',
  2.3,
  -2.0,
  -1.7999999999999998],
 ['Lexington town',
  '2008',
  4.1,
  -1.7000000000000002,
  '2017',
  3.5,
  -0.7999999999999998,
  -0.5999999999999996],
 ['Cleveland city', '2008', 7.8, 2.0, '2017', 4.1, -0.20000000000000018, -3.7],
 ['Riverside city',
  '2008',
  7.8,
  2.0,
  '2017',
  5.4,
  1.1000000000000005,
  -2.3999999999999995],
 ['Anaheim city',
  '2008',
  7.4,
  1.6000000000000005,
  '2017',
  5.3,
  1.0,
  -2.1000000000000005],
 ['Santa Ana city',
  '2008',
  9.2,
  3.3999999999999995,
  '2017',
  4.8,
  0.5,
  -4.3999999999999995],
 ['Aurora city',
  '2008',
  6.6,
  0.7999999999999998,
  '2017',
  4.9,
  0.6000000000000005,
  -1.6999999999999993],
 ['Bakersfield city',
  '2008',
  6.7,
  0.9000000000000004,
  '2017',
  8.6,
  4.3,
  1.8999999999999995],
 ['Tampa city',
  '2008',
  7.3,
  1.5,
  '2017',
  4.2,
  -0.09999999999999964,
  -3.0999999999999996],
 ['Corpus Christi city',
  '2008',
  4.7,
  -1.0999999999999996,
  '2017',
  5.1,
  0.7999999999999998,
  0.39999999999999947],
 ['St. Louis Park city',
  '2008',
  4.8,
  -1.0,
  '2017',
  3.0,
  -1.2999999999999998,
  -1.7999999999999998],
 ['Anchorage Borough/municipality',
  '2008',
  5.3,
  -0.5,
  '2017',
  5.6,
  1.2999999999999998,
  0.2999999999999998],
 ['Henderson city',
  '2008',
  5.3,
  -0.5,
  '2017',
  4.9,
  0.6000000000000005,
  -0.39999999999999947],
 ['Stockton city',
  '2008',
  12.9,
  7.1000000000000005,
  '2017',
  8.2,
  3.8999999999999995,
  -4.700000000000001],
 ['Pittsburgh city',
  '2008',
  5.6,
  -0.20000000000000018,
  '2017',
  5.5,
  1.2000000000000002,
  -0.09999999999999964],
 ['Plano city',
  '2008',
  4.6,
  -1.2000000000000002,
  '2017',
  3.4,
  -0.8999999999999999,
  -1.1999999999999997],
 ['St. Paul city',
  '2008',
  6.0,
  0.20000000000000018,
  '2017',
  3.6,
  -0.6999999999999997,
  -2.4],
 ['Greensboro city',
  '2008',
  5.9,
  0.10000000000000053,
  '2017',
  5.1,
  0.7999999999999998,
  -0.8000000000000007],
 ['Cincinnati city',
  '2008',
  7.1,
  1.2999999999999998,
  '2017',
  5.4,
  1.1000000000000005,
  -1.6999999999999993],
 ['Newark city',
  '2008',
  7.0,
  1.2000000000000002,
  '2017',
  4.7,
  0.40000000000000036,
  -2.3],
 ['Toledo city',
  '2008',
  9.9,
  4.1000000000000005,
  '2017',
  7.7,
  3.4000000000000004,
  -2.2],
 ['Laredo city',
  '2008',
  5.6,
  -0.20000000000000018,
  '2017',
  4.2,
  -0.09999999999999964,
  -1.3999999999999995],
 ['Chula Vista city',
  '2008',
  7.6,
  1.7999999999999998,
  '2017',
  5.9,
  1.6000000000000005,
  -1.6999999999999993],
 ['Jersey City city', '2008', 7.0, 1.2000000000000002, '2017', 4.8, 0.5, -2.2],
 ['Durham city',
  '2008',
  4.8,
  -1.0,
  '2017',
  4.1,
  -0.20000000000000018,
  -0.7000000000000002],
 ['Orlando city', '2008', 6.1, 0.2999999999999998, '2017', 3.8, -0.5, -2.3],
 ['Irvine city',
  '2008',
  4.3,
  -1.5,
  '2017',
  3.1,
  -1.1999999999999997,
  -1.1999999999999997],
 ['Fort Wayne city', '2008', 6.8, 1.0, '2017', 3.4, -0.8999999999999999, -3.4],
 ['Lincoln city',
  '2008',
  3.2,
  -2.5999999999999996,
  '2017',
  2.7,
  -1.5999999999999996,
  -0.5],
 ['St. Petersburg city', '2008', 6.8, 1.0, '2017', 3.8, -0.5, -3.0],
 ['Lubbock city',
  '2008',
  4.4,
  -1.3999999999999995,
  '2017',
  3.6,
  -0.6999999999999997,
  -0.8000000000000003],
 ['Scottsdale city',
  '2008',
  4.2,
  -1.5999999999999996,
  '2017',
  3.8,
  -0.5,
  -0.40000000000000036],
 ['Glendale Heights village',
  '2008',
  6.4,
  0.6000000000000005,
  '2017',
  4.1,
  -0.20000000000000018,
  -2.3000000000000007],
 ['Buffalo Grove village',
  '2008',
  5.2,
  -0.5999999999999996,
  '2017',
  3.8,
  -0.5,
  -1.4000000000000004],
 ['Reno city',
  '2008',
  6.5,
  0.7000000000000002,
  '2017',
  4.2,
  -0.09999999999999964,
  -2.3],
 ['Madison Heights city', '2008', 8.1, 2.3, '2017', 4.8, 0.5, -3.3],
 ['Chandler city',
  '2008',
  4.4,
  -1.3999999999999995,
  '2017',
  3.9,
  -0.3999999999999999,
  -0.5000000000000004],
 ['Norfolk city',
  '2008',
  5.4,
  -0.39999999999999947,
  '2017',
  4.9,
  0.6000000000000005,
  -0.5],
 ['Winston-Salem city',
  '2008',
  5.9,
  0.10000000000000053,
  '2017',
  4.8,
  0.5,
  -1.1000000000000005],
 ['North Las Vegas city',
  '2008',
  7.5,
  1.7000000000000002,
  '2017',
  5.9,
  1.6000000000000005,
  -1.5999999999999996],
 ['Boise City city',
  '2008',
  5.1,
  -0.7000000000000002,
  '2017',
  2.5,
  -1.7999999999999998,
  -2.5999999999999996],
 ['Chesapeake city',
  '2008',
  4.1,
  -1.7000000000000002,
  '2017',
  4.2,
  -0.09999999999999964,
  0.10000000000000053],
 ['Fremont city', '2008', 3.5, -2.3, '2017', 2.9, -1.4, -0.6000000000000001],
 ['Richmond city',
  '2008',
  5.9,
  0.10000000000000053,
  '2017',
  4.4,
  0.10000000000000053,
  -1.5],
 ['Gilbert town',
  '2008',
  3.3,
  -2.5,
  '2017',
  3.7,
  -0.5999999999999996,
  0.40000000000000036],
 ['Irving city',
  '2008',
  4.8,
  -1.0,
  '2017',
  3.5,
  -0.7999999999999998,
  -1.2999999999999998],
 ['San Bernardino city',
  '2008',
  11.8,
  6.000000000000001,
  '2017',
  7.5,
  3.2,
  -4.300000000000001],
 ['Hialeah city',
  '2008',
  7.2,
  1.4000000000000004,
  '2017',
  4.8,
  0.5,
  -2.4000000000000004],
 ['Garland city',
  '2008',
  5.4,
  -0.39999999999999947,
  '2017',
  3.6,
  -0.6999999999999997,
  -1.8000000000000003],
 ['Baton Rouge city',
  '2008',
  5.5,
  -0.2999999999999998,
  '2017',
  5.4,
  1.1000000000000005,
  -0.09999999999999964]]

In [142]:
dfs = pd.DataFrame(series, columns=['city','begin_year','begin_value','begin_ctn','end_year','end_value','end_ctn','delta_value'])

In [143]:
dfs.head()

,city,begin_year,begin_value,begin_ctn,end_year,end_value,end_ctn,delta_value
0,New York city,2008,5.7,-0.1,2017,5.0,0.7,-0.7
1,Philadelphia County/city,2008,7.4,1.6,2017,6.9,2.6,-0.5
2,Phoenix city,2008,6.7,0.9,2017,4.7,0.4,-2.0
3,San Jose city,2008,7.1,1.3,2017,4.2,-0.1,-2.9
4,Houston city,2008,5.0,-0.8,2017,4.7,0.4,-0.3

In [144]:
dfm = pd.melt(dfs,id_vars=['city'], value_vars=['begin_year','begin_value','begin_ctn','end_year','end_value','end_ctn','delta_value'])

In [145]:
dfm[dfm.variable=='begin_year'].value.unique()

array(['2008', '2010'], dtype=object)

interesting, so there's one or more cities for which the data begins in 2010 and not 2008

In [146]:
dfm[(dfm.variable=='begin_year') & (dfm.value=='2010')]

                                   city    variable value
24  Washington township (Macomb County)  begin_year  2010

In [147]:
dfm.head()

                       city    variable value
0             New York city  begin_year  2008
1  Philadelphia County/city  begin_year  2008
2              Phoenix city  begin_year  2008
3             San Jose city  begin_year  2008
4              Houston city  begin_year  2008

In [148]:
dfm[dfm.variable=='delta_value'].sort_values('value')

                                                city     variable value
624              Washington township (Macomb County)  delta_value  -8.8
620                                     Detroit city  delta_value  -7.6
663                                    Stockton city  delta_value  -4.7
655                                   Santa Ana city  delta_value  -4.4
696                              San Bernardino city  delta_value  -4.3
652                                   Cleveland city  delta_value  -3.7
609                                 Los Angeles city  delta_value  -3.5
677                                  Fort Wayne city  delta_value  -3.4
685                             Madison Heights city  delta_value  -3.3
633                                  Sacramento city  delta_value  -3.2
630                                 Kansas City city  delta_value  -3.2
608                             Chicago Heights city  delta_value  -3.2
658                                       Tampa city  delta_value  -3.1
618                               Denver County/city  delta_value    -3
679                              St. Petersburg city  delta_value    -3
629                                     Memphis city  delta_value  -2.9
616             El Paso de Robles (Paso Robles) city  delta_value  -2.9
603                                    San Jose city  delta_value  -2.9
639                            Colorado Springs city  delta_value  -2.8
625           Nashville-Davidson (consolidated) city  delta_value  -2.7
690                                  Boise City city  delta_value  -2.6
697                                     Hialeah city  delta_value  -2.4
666                                    St. Paul city  delta_value  -2.4
653                                   Riverside city  delta_value  -2.4
682                         Glendale Heights village  delta_value  -2.3
684                                        Reno city  delta_value  -2.3
675                                     Orlando city  delta_value  -2.3
669                                      Newark city  delta_value  -2.3
670                                      Toledo city  delta_value  -2.2
610                 Indianapolis (consolidated) city  delta_value  -2.2
..                                               ...          ...   ...
634                                        Mesa city  delta_value  -0.8
674                                      Durham city  delta_value  -0.7
600                                    New York city  delta_value  -0.7
611                                     Seattle city  delta_value  -0.7
644                                 New Orleans city  delta_value  -0.7
647                                     Raleigh city  delta_value  -0.6
692                                     Fremont city  delta_value  -0.6
651                                   Lexington town  delta_value  -0.6
686                                    Chandler city  delta_value  -0.5
601                         Philadelphia County/city  delta_value  -0.5
678                                     Lincoln city  delta_value  -0.5
626  Louisville-Jefferson County (consolidated) city  delta_value  -0.5
687                                     Norfolk city  delta_value  -0.5
681                                  Scottsdale city  delta_value  -0.4
642                                       Omaha city  delta_value  -0.4
662                                   Henderson city  delta_value  -0.4
604                                     Houston city  delta_value  -0.3
645                                     Wichita city  delta_value  -0.2
664                                  Pittsburgh city  delta_value  -0.1
699                                 Baton Rouge city  delta_value  -0.1
643                              Virginia Beach city  delta_value     0
632                                      Fresno city  delta_value     0
691                                  Chesapeake city  delta_value   0.1
622                               Oklahoma City city  delta_value   0.3
661                   Anchorage Borough/municipality  delta_value   0.3
659                              Corpus Christi city  delta_value   0.4
694                                     Gilbert town  delta_value   0.4
640                                       Tulsa city  delta_value   1.1
636                                 Albuquerque city  delta_value   1.7
657                                 Bakersfield city  delta_value   1.9

[100 rows x 3 columns]

In [ ]:
dfm[dfm.variable=='delta_value'].sort_values('value')

In [149]:
cityName = 'Detroit city'
month='July'
df[(df.city==cityName) & (df.month==month)].sort_values('year')

,seriesid,year,month,period,date,state,city,measure,value,footnotes
2451,LAUCT262200000000003,2008,July,M07,2008/07,Michigan,Detroit city,unemployment-rate,17.2,
2439,LAUCT262200000000003,2009,July,M07,2009/07,Michigan,Detroit city,unemployment-rate,28.3,
2427,LAUCT262200000000003,2010,July,M07,2010/07,Michigan,Detroit city,unemployment-rate,26.8,
2415,LAUCT262200000000003,2011,July,M07,2011/07,Michigan,Detroit city,unemployment-rate,24.2,
2403,LAUCT262200000000003,2012,July,M07,2012/07,Michigan,Detroit city,unemployment-rate,22.2,
2391,LAUCT262200000000003,2013,July,M07,2013/07,Michigan,Detroit city,unemployment-rate,21.7,
2379,LAUCT262200000000003,2014,July,M07,2014/07,Michigan,Detroit city,unemployment-rate,18.5,
2367,LAUCT262200000000003,2015,July,M07,2015/07,Michigan,Detroit city,unemployment-rate,13.8,
2355,LAUCT262200000000003,2016,July,M07,2016/07,Michigan,Detroit city,unemployment-rate,12.9,
2343,LAUCT262200000000003,2017,July,M07,2017/07,Michigan,Detroit city,unemployment-rate,9.6,

In [150]:
cityName = 'Detroit city'
dfs[dfs.city==cityName]

,city,begin_year,begin_value,begin_ctn,end_year,end_value,end_ctn,delta_value
20,Detroit city,2008,17.2,11.4,2017,9.6,5.3,-7.6

In [151]:
dfs.sort_values('delta_value')

,city,begin_year,begin_value,begin_ctn,end_year,end_value,end_ctn,delta_value
24,Washington township (Macomb County),2010,12.3,2.9,2017,3.5,-0.8,-8.8
20,Detroit city,2008,17.2,11.4,2017,9.6,5.3,-7.6
63,Stockton city,2008,12.9,7.1,2017,8.2,3.9,-4.7
55,Santa Ana city,2008,9.2,3.4,2017,4.8,0.5,-4.4
96,San Bernardino city,2008,11.8,6.0,2017,7.5,3.2,-4.3
52,Cleveland city,2008,7.8,2.0,2017,4.1,-0.2,-3.7
9,Los Angeles city,2008,9.1,3.3,2017,5.6,1.3,-3.5
77,Fort Wayne city,2008,6.8,1.0,2017,3.4,-0.9,-3.4
85,Madison Heights city,2008,8.1,2.3,2017,4.8,0.5,-3.3
33,Sacramento city,2008,8.8,3.0,2017,5.6,1.3,-3.2
30,Kansas City city,2008,7.9,2.1,2017,4.7,0.4,-3.2
8,Chicago Heights city,2008,10.5,4.7,2017,7.3,3.0,-3.2
58,Tampa city,2008,7.3,1.5,2017,4.2,-0.1,-3.1
18,Denver County/city,2008,5.4,-0.4,2017,2.4,-1.9,-3.0
79,St. Petersburg city,2008,6.8,1.0,2017,3.8,-0.5,-3.0
29,Memphis city,2008,8.1,2.3,2017,5.2,0.9,-2.9
16,El Paso de Robles (Paso Robles) city,2008,7.6,1.8,2017,4.7,0.4,-2.9
3,San Jose city,2008,7.1,1.3,2017,4.2,-0.1,-2.9
39,Colorado Springs city,2008,5.7,-0.1,2017,2.9,-1.4,-2.8
25,Nashville-Davidson (consolidated) city,2008,5.7,-0.1,2017,3.0,-1.3,-2.7
90,Boise City city,2008,5.1,-0.7,2017,2.5,-1.8,-2.6
97,Hialeah city,2008,7.2,1.4,2017,4.8,0.5,-2.4
66,St. Paul city,2008,6.0,0.2,2017,3.6,-0.7,-2.4
53,Riverside city,2008,7.8,2.0,2017,5.4,1.1,-2.4
82,Glendale Heights village,2008,6.4,0.6,2017,4.1,-0.2,-2.3
84,Reno city,2008,6.5,0.7,2017,4.2,-0.1,-2.3
75,Orlando city,2008,6.1,0.3,2017,3.8,-0.5,-2.3
69,Newark city,2008,7.0,1.2,2017,4.7,0.4,-2.3
70,Toledo city,2008,9.9,4.1,2017,7.7,3.4,-2.2
10,Indianapolis (consolidated) city,2008,5.7,-0.1,2017,3.5,-0.8,-2.2
...,...,...,...,...,...,...,...,...
34,Mesa city,2008,5.3,-0.5,2017,4.5,0.2,-0.8
74,Durham city,2008,4.8,-1.0,2017,4.1,-0.2,-0.7
0,New York city,2008,5.7,-0.1,2017,5.0,0.7,-0.7
11,Seattle city,2008,4.0,-1.8,2017,3.3,-1.0,-0.7
44,New Orleans city,2008,6.5,0.7,2017,5.8,1.5,-0.7
47,Raleigh city,2008,4.7,-1.1,2017,4.1,-0.2,-0.6
92,Fremont city,2008,3.5,-2.3,2017,2.9,-1.4,-0.6
51,Lexington town,2008,4.1,-1.7,2017,3.5,-0.8,-0.6
86,Chandler city,2008,4.4,-1.4,2017,3.9,-0.4,-0.5
1,Philadelphia County/city,2008,7.4,1.6,2017,6.9,2.6,-0.5
78,Lincoln city,2008,3.2,-2.6,2017,2.7,-1.6,-0.5
26,Louisville-Jefferson County (consolidated) city,2008,6.2,0.4,2017,5.7,1.4,-0.5
87,Norfolk city,2008,5.4,-0.4,2017,4.9,0.6,-0.5
81,Scottsdale city,2008,4.2,-1.6,2017,3.8,-0.5,-0.4
42,Omaha city,2008,3.7,-2.1,2017,3.3,-1.0,-0.4
62,Henderson city,2008,5.3,-0.5,2017,4.9,0.6,-0.4
4,Houston city,2008,5.0,-0.8,2017,4.7,0.4,-0.3
45,Wichita city,2008,5.2,-0.6,2017,5.0,0.7,-0.2
64,Pittsburgh city,2008,5.6,-0.2,2017,5.5,1.2,-0.1
99,Baton Rouge city,2008,5.5,-0.3,2017,5.4,1.1,-0.1
43,Virginia Beach city,2008,3.7,-2.1,2017,3.7,-0.6,0.0
32,Fresno city,2008,9.4,3.6,2017,9.4,5.1,0.0
91,Chesapeake city,2008,4.1,-1.7,2017,4.2,-0.1,0.1
22,Oklahoma City city,2008,3.8,-2.0,2017,4.1,-0.2,0.3
61,Anchorage Borough/municipality,2008,5.3,-0.5,2017,5.6,1.3,0.3
59,Corpus Christi city,2008,4.7,-1.1,2017,5.1,0.8,0.4
94,Gilbert town,2008,3.3,-2.5,2017,3.7,-0.6,0.4
40,Tulsa city,2008,3.6,-2.2,2017,4.7,0.4,1.1
36,Albuquerque city,2008,4.5,-1.3,2017,6.2,1.9,1.7
57,Bakersfield city,2008,6.7,0.9,2017,8.6,4.3,1.9

In [153]:
# best overall delta (since before the recession), and better than the current national rate
dfs[dfs.end_ctn <= 0.0].sort_values('delta_value')

,city,begin_year,begin_value,begin_ctn,end_year,end_value,end_ctn,delta_value
24,Washington township (Macomb County),2010,12.3,2.9,2017,3.5,-0.8,-8.8
52,Cleveland city,2008,7.8,2.0,2017,4.1,-0.2,-3.7
77,Fort Wayne city,2008,6.8,1.0,2017,3.4,-0.9,-3.4
58,Tampa city,2008,7.3,1.5,2017,4.2,-0.1,-3.1
18,Denver County/city,2008,5.4,-0.4,2017,2.4,-1.9,-3.0
79,St. Petersburg city,2008,6.8,1.0,2017,3.8,-0.5,-3.0
3,San Jose city,2008,7.1,1.3,2017,4.2,-0.1,-2.9
39,Colorado Springs city,2008,5.7,-0.1,2017,2.9,-1.4,-2.8
25,Nashville-Davidson (consolidated) city,2008,5.7,-0.1,2017,3.0,-1.3,-2.7
90,Boise City city,2008,5.1,-0.7,2017,2.5,-1.8,-2.6
66,St. Paul city,2008,6.0,0.2,2017,3.6,-0.7,-2.4
82,Glendale Heights village,2008,6.4,0.6,2017,4.1,-0.2,-2.3
75,Orlando city,2008,6.1,0.3,2017,3.8,-0.5,-2.3
84,Reno city,2008,6.5,0.7,2017,4.2,-0.1,-2.3
10,Indianapolis (consolidated) city,2008,5.7,-0.1,2017,3.5,-0.8,-2.2
13,San Francisco County/city,2008,5.6,-0.2,2017,3.4,-0.9,-2.2
49,Minneapolis city,2008,5.6,-0.2,2017,3.5,-0.8,-2.1
23,Portland city,2008,5.7,-0.1,2017,3.8,-0.5,-1.9
98,Garland city,2008,5.4,-0.4,2017,3.6,-0.7,-1.8
7,Dallas city,2008,5.7,-0.1,2017,3.9,-0.4,-1.8
50,Honolulu County/city,2008,4.1,-1.7,2017,2.3,-2.0,-1.8
60,St. Louis Park city,2008,4.8,-1.0,2017,3.0,-1.3,-1.8
27,Boston city,2008,5.8,0.0,2017,4.2,-0.1,-1.6
15,Austin city,2008,4.4,-1.4,2017,3.0,-1.3,-1.4
83,Buffalo Grove village,2008,5.2,-0.6,2017,3.8,-0.5,-1.4
12,Fort Worth city,2008,5.4,-0.4,2017,4.0,-0.3,-1.4
71,Laredo city,2008,5.6,-0.2,2017,4.2,-0.1,-1.4
95,Irving city,2008,4.8,-1.0,2017,3.5,-0.8,-1.3
17,Charlotte city,2008,5.6,-0.2,2017,4.3,0.0,-1.3
41,Arlington town,2008,4.2,-1.6,2017,3.0,-1.3,-1.2
6,San Antonio city,2008,4.9,-0.9,2017,3.7,-0.6,-1.2
65,Plano city,2008,4.6,-1.2,2017,3.4,-0.9,-1.2
76,Irvine city,2008,4.3,-1.5,2017,3.1,-1.2,-1.2
35,Long Beach city,2008,4.7,-1.1,2017,3.6,-0.7,-1.1
48,Oakland Park city,2008,4.9,-0.9,2017,4.0,-0.3,-0.9
80,Lubbock city,2008,4.4,-1.4,2017,3.6,-0.7,-0.8
11,Seattle city,2008,4.0,-1.8,2017,3.3,-1.0,-0.7
74,Durham city,2008,4.8,-1.0,2017,4.1,-0.2,-0.7
47,Raleigh city,2008,4.7,-1.1,2017,4.1,-0.2,-0.6
92,Fremont city,2008,3.5,-2.3,2017,2.9,-1.4,-0.6
51,Lexington town,2008,4.1,-1.7,2017,3.5,-0.8,-0.6
86,Chandler city,2008,4.4,-1.4,2017,3.9,-0.4,-0.5
78,Lincoln city,2008,3.2,-2.6,2017,2.7,-1.6,-0.5
42,Omaha city,2008,3.7,-2.1,2017,3.3,-1.0,-0.4
81,Scottsdale city,2008,4.2,-1.6,2017,3.8,-0.5,-0.4
43,Virginia Beach city,2008,3.7,-2.1,2017,3.7,-0.6,0.0
91,Chesapeake city,2008,4.1,-1.7,2017,4.2,-0.1,0.1
22,Oklahoma City city,2008,3.8,-2.0,2017,4.1,-0.2,0.3
94,Gilbert town,2008,3.3,-2.5,2017,3.7,-0.6,0.4

In [154]:
# best compared to the current national rate
dfs[dfs.end_ctn <= 0.0].sort_values('end_ctn')

,city,begin_year,begin_value,begin_ctn,end_year,end_value,end_ctn,delta_value
50,Honolulu County/city,2008,4.1,-1.7,2017,2.3,-2.0,-1.8
18,Denver County/city,2008,5.4,-0.4,2017,2.4,-1.9,-3.0
90,Boise City city,2008,5.1,-0.7,2017,2.5,-1.8,-2.6
78,Lincoln city,2008,3.2,-2.6,2017,2.7,-1.6,-0.5
39,Colorado Springs city,2008,5.7,-0.1,2017,2.9,-1.4,-2.8
92,Fremont city,2008,3.5,-2.3,2017,2.9,-1.4,-0.6
60,St. Louis Park city,2008,4.8,-1.0,2017,3.0,-1.3,-1.8
15,Austin city,2008,4.4,-1.4,2017,3.0,-1.3,-1.4
25,Nashville-Davidson (consolidated) city,2008,5.7,-0.1,2017,3.0,-1.3,-2.7
41,Arlington town,2008,4.2,-1.6,2017,3.0,-1.3,-1.2
76,Irvine city,2008,4.3,-1.5,2017,3.1,-1.2,-1.2
42,Omaha city,2008,3.7,-2.1,2017,3.3,-1.0,-0.4
11,Seattle city,2008,4.0,-1.8,2017,3.3,-1.0,-0.7
13,San Francisco County/city,2008,5.6,-0.2,2017,3.4,-0.9,-2.2
65,Plano city,2008,4.6,-1.2,2017,3.4,-0.9,-1.2
77,Fort Wayne city,2008,6.8,1.0,2017,3.4,-0.9,-3.4
95,Irving city,2008,4.8,-1.0,2017,3.5,-0.8,-1.3
51,Lexington town,2008,4.1,-1.7,2017,3.5,-0.8,-0.6
24,Washington township (Macomb County),2010,12.3,2.9,2017,3.5,-0.8,-8.8
10,Indianapolis (consolidated) city,2008,5.7,-0.1,2017,3.5,-0.8,-2.2
49,Minneapolis city,2008,5.6,-0.2,2017,3.5,-0.8,-2.1
80,Lubbock city,2008,4.4,-1.4,2017,3.6,-0.7,-0.8
66,St. Paul city,2008,6.0,0.2,2017,3.6,-0.7,-2.4
98,Garland city,2008,5.4,-0.4,2017,3.6,-0.7,-1.8
35,Long Beach city,2008,4.7,-1.1,2017,3.6,-0.7,-1.1
94,Gilbert town,2008,3.3,-2.5,2017,3.7,-0.6,0.4
6,San Antonio city,2008,4.9,-0.9,2017,3.7,-0.6,-1.2
43,Virginia Beach city,2008,3.7,-2.1,2017,3.7,-0.6,0.0
79,St. Petersburg city,2008,6.8,1.0,2017,3.8,-0.5,-3.0
83,Buffalo Grove village,2008,5.2,-0.6,2017,3.8,-0.5,-1.4
75,Orlando city,2008,6.1,0.3,2017,3.8,-0.5,-2.3
23,Portland city,2008,5.7,-0.1,2017,3.8,-0.5,-1.9
81,Scottsdale city,2008,4.2,-1.6,2017,3.8,-0.5,-0.4
7,Dallas city,2008,5.7,-0.1,2017,3.9,-0.4,-1.8
86,Chandler city,2008,4.4,-1.4,2017,3.9,-0.4,-0.5
48,Oakland Park city,2008,4.9,-0.9,2017,4.0,-0.3,-0.9
12,Fort Worth city,2008,5.4,-0.4,2017,4.0,-0.3,-1.4
82,Glendale Heights village,2008,6.4,0.6,2017,4.1,-0.2,-2.3
47,Raleigh city,2008,4.7,-1.1,2017,4.1,-0.2,-0.6
22,Oklahoma City city,2008,3.8,-2.0,2017,4.1,-0.2,0.3
74,Durham city,2008,4.8,-1.0,2017,4.1,-0.2,-0.7
52,Cleveland city,2008,7.8,2.0,2017,4.1,-0.2,-3.7
84,Reno city,2008,6.5,0.7,2017,4.2,-0.1,-2.3
71,Laredo city,2008,5.6,-0.2,2017,4.2,-0.1,-1.4
27,Boston city,2008,5.8,0.0,2017,4.2,-0.1,-1.6
91,Chesapeake city,2008,4.1,-1.7,2017,4.2,-0.1,0.1
58,Tampa city,2008,7.3,1.5,2017,4.2,-0.1,-3.1
3,San Jose city,2008,7.1,1.3,2017,4.2,-0.1,-2.9
17,Charlotte city,2008,5.6,-0.2,2017,4.3,0.0,-1.3

Cities fixed:
- Washington, DC
- El Paso, TX
- St. Louis, MO
- Lexington, KY

Not sure:
- Long Beach, CA

ToDo:

- figure out how to verify city-town codes returned from `findCityTownCode` match the Top 100 City data values