In [39]:
import requests
import json
import prettytable
import re
import pandas as pd

In [ ]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CPSEEA01'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])

In [9]:
print(p.text)

{"status":"REQUEST_SUCCEEDED","responseTime":112,"message":["Invalid Series for Series CPSEEA01"],"Results":{
"series":
[{"seriesID":"CPSEEA01","data":[]}]
}}

In [6]:
print(x)

+-----------+------+--------+-------+-----------+
| series id | year | period | value | footnotes |
+-----------+------+--------+-------+-----------+
+-----------+------+--------+-------+-----------+

In [37]:
file = open("bls-national-unemployment.raw", "r")
data = []

count = 0
for line in file.readlines():
    count += 1
    line2 = re.sub(' +',' ', line.rstrip())
    fields = [f.strip() for f in line2.split("\t")]
    print(count,fields)
    data.append(fields)
    
file.close()

1 ['year', 'Jan.', 'Feb.', 'Mar.', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec.']
2 ['2017', '4.8', '4.7', '4.5', '4.4', '4.3', '4.4', '4.3', '4.4', '4.2']
3 ['2016', '4.9', '4.9', '5.0', '5.0', '4.7', '4.9', '4.9', '4.9', '5.0', '4.9', '4.6', '4.7']
4 ['2015', '5.7', '5.5', '5.5', '5.4', '5.5', '5.3', '5.3', '5.1', '5.1', '5.0', '5.0', '5.0']
5 ['2014', '6.6', '6.7', '6.7', '6.3', '6.3', '6.1', '6.2', '6.1', '5.9', '5.8', '5.8', '5.6']
6 ['2013', '7.9', '7.7', '7.5', '7.5', '7.5', '7.5', '7.3', '7.2', '7.2', '7.2', '7.0', '6.7']
7 ['2012', '8.3', '8.3', '8.2', '8.1', '8.2', '8.2', '8.2', '8.1', '7.8', '7.9', '7.8', '7.8']
8 ['2011', '9.0', '8.9', '8.8', '9.0', '9.1', '9.2', '9.1', '9.1', '9.1', '9.0', '8.6', '8.5']
9 ['2010', '9.7', '9.7', '9.7', '9.9', '9.7', '9.5', '9.5', '9.6', '9.6', '9.6', '9.8', '9.4']
10 ['2009', '7.6', '8.1', '8.5', '8.9', '9.4', '9.5', '9.4', '9.7', '9.8', '10.2', '10.0', '10.0']
11 ['2008', '4.9', '4.8', '5.1', '5.0', '5.5', '5.6', '5.8', '6.2', '6.2', '6.6', '6.8', '7.2']

In [40]:
len(data)

11

Desire is to have a tidy table like:

| national-unemployment | date(yyyy/mm) | value |

In [57]:
data2 = []
for i in range(1, len(data)):
    print(i, data[i])
    row = data[i]
    year = row[0]
    for j in range(1,len(row)):
        month = "{0:02}".format(j)
        print(i,j,year,month,row[j])
        row2 = ["national-unemployment","{}/{}".format(year,month),row[j]]
        data2.append(row2)

1 ['2017', '4.8', '4.7', '4.5', '4.4', '4.3', '4.4', '4.3', '4.4', '4.2']
1 1 2017 01 4.8
1 2 2017 02 4.7
1 3 2017 03 4.5
1 4 2017 04 4.4
1 5 2017 05 4.3
1 6 2017 06 4.4
1 7 2017 07 4.3
1 8 2017 08 4.4
1 9 2017 09 4.2
2 ['2016', '4.9', '4.9', '5.0', '5.0', '4.7', '4.9', '4.9', '4.9', '5.0', '4.9', '4.6', '4.7']
2 1 2016 01 4.9
2 2 2016 02 4.9
2 3 2016 03 5.0
2 4 2016 04 5.0
2 5 2016 05 4.7
2 6 2016 06 4.9
2 7 2016 07 4.9
2 8 2016 08 4.9
2 9 2016 09 5.0
2 10 2016 10 4.9
2 11 2016 11 4.6
2 12 2016 12 4.7
3 ['2015', '5.7', '5.5', '5.5', '5.4', '5.5', '5.3', '5.3', '5.1', '5.1', '5.0', '5.0', '5.0']
3 1 2015 01 5.7
3 2 2015 02 5.5
3 3 2015 03 5.5
3 4 2015 04 5.4
3 5 2015 05 5.5
3 6 2015 06 5.3
3 7 2015 07 5.3
3 8 2015 08 5.1
3 9 2015 09 5.1
3 10 2015 10 5.0
3 11 2015 11 5.0
3 12 2015 12 5.0
4 ['2014', '6.6', '6.7', '6.7', '6.3', '6.3', '6.1', '6.2', '6.1', '5.9', '5.8', '5.8', '5.6']
4 1 2014 01 6.6
4 2 2014 02 6.7
4 3 2014 03 6.7
4 4 2014 04 6.3
4 5 2014 05 6.3
4 6 2014 06 6.1
4 7 2014 07 6.2
4 8 2014 08 6.1
4 9 2014 09 5.9
4 10 2014 10 5.8
4 11 2014 11 5.8
4 12 2014 12 5.6
5 ['2013', '7.9', '7.7', '7.5', '7.5', '7.5', '7.5', '7.3', '7.2', '7.2', '7.2', '7.0', '6.7']
5 1 2013 01 7.9
5 2 2013 02 7.7
5 3 2013 03 7.5
5 4 2013 04 7.5
5 5 2013 05 7.5
5 6 2013 06 7.5
5 7 2013 07 7.3
5 8 2013 08 7.2
5 9 2013 09 7.2
5 10 2013 10 7.2
5 11 2013 11 7.0
5 12 2013 12 6.7
6 ['2012', '8.3', '8.3', '8.2', '8.1', '8.2', '8.2', '8.2', '8.1', '7.8', '7.9', '7.8', '7.8']
6 1 2012 01 8.3
6 2 2012 02 8.3
6 3 2012 03 8.2
6 4 2012 04 8.1
6 5 2012 05 8.2
6 6 2012 06 8.2
6 7 2012 07 8.2
6 8 2012 08 8.1
6 9 2012 09 7.8
6 10 2012 10 7.9
6 11 2012 11 7.8
6 12 2012 12 7.8
7 ['2011', '9.0', '8.9', '8.8', '9.0', '9.1', '9.2', '9.1', '9.1', '9.1', '9.0', '8.6', '8.5']
7 1 2011 01 9.0
7 2 2011 02 8.9
7 3 2011 03 8.8
7 4 2011 04 9.0
7 5 2011 05 9.1
7 6 2011 06 9.2
7 7 2011 07 9.1
7 8 2011 08 9.1
7 9 2011 09 9.1
7 10 2011 10 9.0
7 11 2011 11 8.6
7 12 2011 12 8.5
8 ['2010', '9.7', '9.7', '9.7', '9.9', '9.7', '9.5', '9.5', '9.6', '9.6', '9.6', '9.8', '9.4']
8 1 2010 01 9.7
8 2 2010 02 9.7
8 3 2010 03 9.7
8 4 2010 04 9.9
8 5 2010 05 9.7
8 6 2010 06 9.5
8 7 2010 07 9.5
8 8 2010 08 9.6
8 9 2010 09 9.6
8 10 2010 10 9.6
8 11 2010 11 9.8
8 12 2010 12 9.4
9 ['2009', '7.6', '8.1', '8.5', '8.9', '9.4', '9.5', '9.4', '9.7', '9.8', '10.2', '10.0', '10.0']
9 1 2009 01 7.6
9 2 2009 02 8.1
9 3 2009 03 8.5
9 4 2009 04 8.9
9 5 2009 05 9.4
9 6 2009 06 9.5
9 7 2009 07 9.4
9 8 2009 08 9.7
9 9 2009 09 9.8
9 10 2009 10 10.2
9 11 2009 11 10.0
9 12 2009 12 10.0
10 ['2008', '4.9', '4.8', '5.1', '5.0', '5.5', '5.6', '5.8', '6.2', '6.2', '6.6', '6.8', '7.2']
10 1 2008 01 4.9
10 2 2008 02 4.8
10 3 2008 03 5.1
10 4 2008 04 5.0
10 5 2008 05 5.5
10 6 2008 06 5.6
10 7 2008 07 5.8
10 8 2008 08 6.2
10 9 2008 09 6.2
10 10 2008 10 6.6
10 11 2008 11 6.8
10 12 2008 12 7.2

In [58]:
data2

[['national-unemployment', '2017/01', '4.8'],
 ['national-unemployment', '2017/02', '4.7'],
 ['national-unemployment', '2017/03', '4.5'],
 ['national-unemployment', '2017/04', '4.4'],
 ['national-unemployment', '2017/05', '4.3'],
 ['national-unemployment', '2017/06', '4.4'],
 ['national-unemployment', '2017/07', '4.3'],
 ['national-unemployment', '2017/08', '4.4'],
 ['national-unemployment', '2017/09', '4.2'],
 ['national-unemployment', '2016/01', '4.9'],
 ['national-unemployment', '2016/02', '4.9'],
 ['national-unemployment', '2016/03', '5.0'],
 ['national-unemployment', '2016/04', '5.0'],
 ['national-unemployment', '2016/05', '4.7'],
 ['national-unemployment', '2016/06', '4.9'],
 ['national-unemployment', '2016/07', '4.9'],
 ['national-unemployment', '2016/08', '4.9'],
 ['national-unemployment', '2016/09', '5.0'],
 ['national-unemployment', '2016/10', '4.9'],
 ['national-unemployment', '2016/11', '4.6'],
 ['national-unemployment', '2016/12', '4.7'],
 ['national-unemployment', '2015/01', '5.7'],
 ['national-unemployment', '2015/02', '5.5'],
 ['national-unemployment', '2015/03', '5.5'],
 ['national-unemployment', '2015/04', '5.4'],
 ['national-unemployment', '2015/05', '5.5'],
 ['national-unemployment', '2015/06', '5.3'],
 ['national-unemployment', '2015/07', '5.3'],
 ['national-unemployment', '2015/08', '5.1'],
 ['national-unemployment', '2015/09', '5.1'],
 ['national-unemployment', '2015/10', '5.0'],
 ['national-unemployment', '2015/11', '5.0'],
 ['national-unemployment', '2015/12', '5.0'],
 ['national-unemployment', '2014/01', '6.6'],
 ['national-unemployment', '2014/02', '6.7'],
 ['national-unemployment', '2014/03', '6.7'],
 ['national-unemployment', '2014/04', '6.3'],
 ['national-unemployment', '2014/05', '6.3'],
 ['national-unemployment', '2014/06', '6.1'],
 ['national-unemployment', '2014/07', '6.2'],
 ['national-unemployment', '2014/08', '6.1'],
 ['national-unemployment', '2014/09', '5.9'],
 ['national-unemployment', '2014/10', '5.8'],
 ['national-unemployment', '2014/11', '5.8'],
 ['national-unemployment', '2014/12', '5.6'],
 ['national-unemployment', '2013/01', '7.9'],
 ['national-unemployment', '2013/02', '7.7'],
 ['national-unemployment', '2013/03', '7.5'],
 ['national-unemployment', '2013/04', '7.5'],
 ['national-unemployment', '2013/05', '7.5'],
 ['national-unemployment', '2013/06', '7.5'],
 ['national-unemployment', '2013/07', '7.3'],
 ['national-unemployment', '2013/08', '7.2'],
 ['national-unemployment', '2013/09', '7.2'],
 ['national-unemployment', '2013/10', '7.2'],
 ['national-unemployment', '2013/11', '7.0'],
 ['national-unemployment', '2013/12', '6.7'],
 ['national-unemployment', '2012/01', '8.3'],
 ['national-unemployment', '2012/02', '8.3'],
 ['national-unemployment', '2012/03', '8.2'],
 ['national-unemployment', '2012/04', '8.1'],
 ['national-unemployment', '2012/05', '8.2'],
 ['national-unemployment', '2012/06', '8.2'],
 ['national-unemployment', '2012/07', '8.2'],
 ['national-unemployment', '2012/08', '8.1'],
 ['national-unemployment', '2012/09', '7.8'],
 ['national-unemployment', '2012/10', '7.9'],
 ['national-unemployment', '2012/11', '7.8'],
 ['national-unemployment', '2012/12', '7.8'],
 ['national-unemployment', '2011/01', '9.0'],
 ['national-unemployment', '2011/02', '8.9'],
 ['national-unemployment', '2011/03', '8.8'],
 ['national-unemployment', '2011/04', '9.0'],
 ['national-unemployment', '2011/05', '9.1'],
 ['national-unemployment', '2011/06', '9.2'],
 ['national-unemployment', '2011/07', '9.1'],
 ['national-unemployment', '2011/08', '9.1'],
 ['national-unemployment', '2011/09', '9.1'],
 ['national-unemployment', '2011/10', '9.0'],
 ['national-unemployment', '2011/11', '8.6'],
 ['national-unemployment', '2011/12', '8.5'],
 ['national-unemployment', '2010/01', '9.7'],
 ['national-unemployment', '2010/02', '9.7'],
 ['national-unemployment', '2010/03', '9.7'],
 ['national-unemployment', '2010/04', '9.9'],
 ['national-unemployment', '2010/05', '9.7'],
 ['national-unemployment', '2010/06', '9.5'],
 ['national-unemployment', '2010/07', '9.5'],
 ['national-unemployment', '2010/08', '9.6'],
 ['national-unemployment', '2010/09', '9.6'],
 ['national-unemployment', '2010/10', '9.6'],
 ['national-unemployment', '2010/11', '9.8'],
 ['national-unemployment', '2010/12', '9.4'],
 ['national-unemployment', '2009/01', '7.6'],
 ['national-unemployment', '2009/02', '8.1'],
 ['national-unemployment', '2009/03', '8.5'],
 ['national-unemployment', '2009/04', '8.9'],
 ['national-unemployment', '2009/05', '9.4'],
 ['national-unemployment', '2009/06', '9.5'],
 ['national-unemployment', '2009/07', '9.4'],
 ['national-unemployment', '2009/08', '9.7'],
 ['national-unemployment', '2009/09', '9.8'],
 ['national-unemployment', '2009/10', '10.2'],
 ['national-unemployment', '2009/11', '10.0'],
 ['national-unemployment', '2009/12', '10.0'],
 ['national-unemployment', '2008/01', '4.9'],
 ['national-unemployment', '2008/02', '4.8'],
 ['national-unemployment', '2008/03', '5.1'],
 ['national-unemployment', '2008/04', '5.0'],
 ['national-unemployment', '2008/05', '5.5'],
 ['national-unemployment', '2008/06', '5.6'],
 ['national-unemployment', '2008/07', '5.8'],
 ['national-unemployment', '2008/08', '6.2'],
 ['national-unemployment', '2008/09', '6.2'],
 ['national-unemployment', '2008/10', '6.6'],
 ['national-unemployment', '2008/11', '6.8'],
 ['national-unemployment', '2008/12', '7.2']]

In [59]:
df = pd.DataFrame(data2, columns=["measure","date","value"])

In [60]:
df

                   measure     date value
0    national-unemployment  2017/01   4.8
1    national-unemployment  2017/02   4.7
2    national-unemployment  2017/03   4.5
3    national-unemployment  2017/04   4.4
4    national-unemployment  2017/05   4.3
5    national-unemployment  2017/06   4.4
6    national-unemployment  2017/07   4.3
7    national-unemployment  2017/08   4.4
8    national-unemployment  2017/09   4.2
9    national-unemployment  2016/01   4.9
10   national-unemployment  2016/02   4.9
11   national-unemployment  2016/03   5.0
12   national-unemployment  2016/04   5.0
13   national-unemployment  2016/05   4.7
14   national-unemployment  2016/06   4.9
15   national-unemployment  2016/07   4.9
16   national-unemployment  2016/08   4.9
17   national-unemployment  2016/09   5.0
18   national-unemployment  2016/10   4.9
19   national-unemployment  2016/11   4.6
20   national-unemployment  2016/12   4.7
21   national-unemployment  2015/01   5.7
22   national-unemployment  2015/02   5.5
23   national-unemployment  2015/03   5.5
24   national-unemployment  2015/04   5.4
25   national-unemployment  2015/05   5.5
26   national-unemployment  2015/06   5.3
27   national-unemployment  2015/07   5.3
28   national-unemployment  2015/08   5.1
29   national-unemployment  2015/09   5.1
..                     ...      ...   ...
87   national-unemployment  2010/07   9.5
88   national-unemployment  2010/08   9.6
89   national-unemployment  2010/09   9.6
90   national-unemployment  2010/10   9.6
91   national-unemployment  2010/11   9.8
92   national-unemployment  2010/12   9.4
93   national-unemployment  2009/01   7.6
94   national-unemployment  2009/02   8.1
95   national-unemployment  2009/03   8.5
96   national-unemployment  2009/04   8.9
97   national-unemployment  2009/05   9.4
98   national-unemployment  2009/06   9.5
99   national-unemployment  2009/07   9.4
100  national-unemployment  2009/08   9.7
101  national-unemployment  2009/09   9.8
102  national-unemployment  2009/10  10.2
103  national-unemployment  2009/11  10.0
104  national-unemployment  2009/12  10.0
105  national-unemployment  2008/01   4.9
106  national-unemployment  2008/02   4.8
107  national-unemployment  2008/03   5.1
108  national-unemployment  2008/04   5.0
109  national-unemployment  2008/05   5.5
110  national-unemployment  2008/06   5.6
111  national-unemployment  2008/07   5.8
112  national-unemployment  2008/08   6.2
113  national-unemployment  2008/09   6.2
114  national-unemployment  2008/10   6.6
115  national-unemployment  2008/11   6.8
116  national-unemployment  2008/12   7.2

[117 rows x 3 columns]

In [65]:
df = df.sort_values('date')

In [66]:
df.head()

                   measure     date value
105  national-unemployment  2008/01   4.9
106  national-unemployment  2008/02   4.8
107  national-unemployment  2008/03   5.1
108  national-unemployment  2008/04   5.0
109  national-unemployment  2008/05   5.5