In [11]:
import requests
import json
import prettytable

rows = []

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            row = [seriesId,year,period,value,footnotes[0:-1]]
            rows.append(row)
            x.add_row(row)
#    output = open(&quot;c:\\temp\\&quot; + seriesId + &quot;.txt&quot;,&quot;w&quot;)
#    output.write (x.get_string())
#    output.close()

In [6]:
json_data

{'Results': {'series': [{'data': [{'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '134.207',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '135.107',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '135.891',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '136.211',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '136.127',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '136.392',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '136.433',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '136.216',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '135.771',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '135.375',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '134.542',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '134.017',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '133.509',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '133.596',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '133.876',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '134.255',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '134.098',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '133.919',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '133.900',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '133.626',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '133.421',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '133.558',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '133.204',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '132.137',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '131.770',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '132.208',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '132.892',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '132.988',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '132.430',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '131.731',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '131.956',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '132.154',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '132.284',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '131.905',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '130.953',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '130.438',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '129.844',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '130.196',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '130.373',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '130.635',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '130.351',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '129.983',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '129.846',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '129.999',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '129.483',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '128.585',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '127.363',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '126.778',
      'year': '2011'}],
    'seriesID': 'SUUR0000SA0'},
   {'data': [{'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'year': '2011'}],
    'seriesID': 'CUUR0000SA0'}]},
 'message': [],
 'responseTime': 73,
 'status': 'REQUEST_SUCCEEDED'}

In [12]:
rows

[['SUUR0000SA0', '2014', 'M12', '134.207', ''],
 ['SUUR0000SA0', '2014', 'M11', '135.107', ''],
 ['SUUR0000SA0', '2014', 'M10', '135.891', ''],
 ['SUUR0000SA0', '2014', 'M09', '136.211', ''],
 ['SUUR0000SA0', '2014', 'M08', '136.127', ''],
 ['SUUR0000SA0', '2014', 'M07', '136.392', ''],
 ['SUUR0000SA0', '2014', 'M06', '136.433', ''],
 ['SUUR0000SA0', '2014', 'M05', '136.216', ''],
 ['SUUR0000SA0', '2014', 'M04', '135.771', ''],
 ['SUUR0000SA0', '2014', 'M03', '135.375', ''],
 ['SUUR0000SA0', '2014', 'M02', '134.542', ''],
 ['SUUR0000SA0', '2014', 'M01', '134.017', ''],
 ['SUUR0000SA0', '2013', 'M12', '133.509', ''],
 ['SUUR0000SA0', '2013', 'M11', '133.596', ''],
 ['SUUR0000SA0', '2013', 'M10', '133.876', ''],
 ['SUUR0000SA0', '2013', 'M09', '134.255', ''],
 ['SUUR0000SA0', '2013', 'M08', '134.098', ''],
 ['SUUR0000SA0', '2013', 'M07', '133.919', ''],
 ['SUUR0000SA0', '2013', 'M06', '133.900', ''],
 ['SUUR0000SA0', '2013', 'M05', '133.626', ''],
 ['SUUR0000SA0', '2013', 'M04', '133.421', ''],
 ['SUUR0000SA0', '2013', 'M03', '133.558', ''],
 ['SUUR0000SA0', '2013', 'M02', '133.204', ''],
 ['SUUR0000SA0', '2013', 'M01', '132.137', ''],
 ['SUUR0000SA0', '2012', 'M12', '131.770', ''],
 ['SUUR0000SA0', '2012', 'M11', '132.208', ''],
 ['SUUR0000SA0', '2012', 'M10', '132.892', ''],
 ['SUUR0000SA0', '2012', 'M09', '132.988', ''],
 ['SUUR0000SA0', '2012', 'M08', '132.430', ''],
 ['SUUR0000SA0', '2012', 'M07', '131.731', ''],
 ['SUUR0000SA0', '2012', 'M06', '131.956', ''],
 ['SUUR0000SA0', '2012', 'M05', '132.154', ''],
 ['SUUR0000SA0', '2012', 'M04', '132.284', ''],
 ['SUUR0000SA0', '2012', 'M03', '131.905', ''],
 ['SUUR0000SA0', '2012', 'M02', '130.953', ''],
 ['SUUR0000SA0', '2012', 'M01', '130.438', ''],
 ['SUUR0000SA0', '2011', 'M12', '129.844', ''],
 ['SUUR0000SA0', '2011', 'M11', '130.196', ''],
 ['SUUR0000SA0', '2011', 'M10', '130.373', ''],
 ['SUUR0000SA0', '2011', 'M09', '130.635', ''],
 ['SUUR0000SA0', '2011', 'M08', '130.351', ''],
 ['SUUR0000SA0', '2011', 'M07', '129.983', ''],
 ['SUUR0000SA0', '2011', 'M06', '129.846', ''],
 ['SUUR0000SA0', '2011', 'M05', '129.999', ''],
 ['SUUR0000SA0', '2011', 'M04', '129.483', ''],
 ['SUUR0000SA0', '2011', 'M03', '128.585', ''],
 ['SUUR0000SA0', '2011', 'M02', '127.363', ''],
 ['SUUR0000SA0', '2011', 'M01', '126.778', ''],
 ['CUUR0000SA0', '2014', 'M12', '234.812', ''],
 ['CUUR0000SA0', '2014', 'M11', '236.151', ''],
 ['CUUR0000SA0', '2014', 'M10', '237.433', ''],
 ['CUUR0000SA0', '2014', 'M09', '238.031', ''],
 ['CUUR0000SA0', '2014', 'M08', '237.852', ''],
 ['CUUR0000SA0', '2014', 'M07', '238.250', ''],
 ['CUUR0000SA0', '2014', 'M06', '238.343', ''],
 ['CUUR0000SA0', '2014', 'M05', '237.900', ''],
 ['CUUR0000SA0', '2014', 'M04', '237.072', ''],
 ['CUUR0000SA0', '2014', 'M03', '236.293', ''],
 ['CUUR0000SA0', '2014', 'M02', '234.781', ''],
 ['CUUR0000SA0', '2014', 'M01', '233.916', ''],
 ['CUUR0000SA0', '2013', 'M12', '233.049', ''],
 ['CUUR0000SA0', '2013', 'M11', '233.069', ''],
 ['CUUR0000SA0', '2013', 'M10', '233.546', ''],
 ['CUUR0000SA0', '2013', 'M09', '234.149', ''],
 ['CUUR0000SA0', '2013', 'M08', '233.877', ''],
 ['CUUR0000SA0', '2013', 'M07', '233.596', ''],
 ['CUUR0000SA0', '2013', 'M06', '233.504', ''],
 ['CUUR0000SA0', '2013', 'M05', '232.945', ''],
 ['CUUR0000SA0', '2013', 'M04', '232.531', ''],
 ['CUUR0000SA0', '2013', 'M03', '232.773', ''],
 ['CUUR0000SA0', '2013', 'M02', '232.166', ''],
 ['CUUR0000SA0', '2013', 'M01', '230.280', ''],
 ['CUUR0000SA0', '2012', 'M12', '229.601', ''],
 ['CUUR0000SA0', '2012', 'M11', '230.221', ''],
 ['CUUR0000SA0', '2012', 'M10', '231.317', ''],
 ['CUUR0000SA0', '2012', 'M09', '231.407', ''],
 ['CUUR0000SA0', '2012', 'M08', '230.379', ''],
 ['CUUR0000SA0', '2012', 'M07', '229.104', ''],
 ['CUUR0000SA0', '2012', 'M06', '229.478', ''],
 ['CUUR0000SA0', '2012', 'M05', '229.815', ''],
 ['CUUR0000SA0', '2012', 'M04', '230.085', ''],
 ['CUUR0000SA0', '2012', 'M03', '229.392', ''],
 ['CUUR0000SA0', '2012', 'M02', '227.663', ''],
 ['CUUR0000SA0', '2012', 'M01', '226.665', ''],
 ['CUUR0000SA0', '2011', 'M12', '225.672', ''],
 ['CUUR0000SA0', '2011', 'M11', '226.230', ''],
 ['CUUR0000SA0', '2011', 'M10', '226.421', ''],
 ['CUUR0000SA0', '2011', 'M09', '226.889', ''],
 ['CUUR0000SA0', '2011', 'M08', '226.545', ''],
 ['CUUR0000SA0', '2011', 'M07', '225.922', ''],
 ['CUUR0000SA0', '2011', 'M06', '225.722', ''],
 ['CUUR0000SA0', '2011', 'M05', '225.964', ''],
 ['CUUR0000SA0', '2011', 'M04', '224.906', ''],
 ['CUUR0000SA0', '2011', 'M03', '223.467', ''],
 ['CUUR0000SA0', '2011', 'M02', '221.309', ''],
 ['CUUR0000SA0', '2011', 'M01', '220.223', '']]

In [7]:
import pandas as pd

In [16]:
df = pd.DataFrame(rows, columns = ['SeriesID', 'year', 'period','value', 'footnotes'])

In [17]:
df.head()

      SeriesID  year period    value footnotes
0  SUUR0000SA0  2014    M12  134.207
1  SUUR0000SA0  2014    M11  135.107
2  SUUR0000SA0  2014    M10  135.891
3  SUUR0000SA0  2014    M09  136.211
4  SUUR0000SA0  2014    M08  136.127